<footer class="page-footer blue lighten-4">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Iniciación IPN</h5>
                <p class="grey-text text-lighten-4">Iniciación IPN es una organización formada por politécnicos y con la finalidad de apoyarte en tu preparación para poder formar parte de esta gran institución, el Instituto Politécnico Nacional.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Facebook</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Google+</a></li>                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Iniciación IPN            
            <%= link_to "Conócenos", pages_about_path, :class => "grey-text text-lighten-4 right" %>
            </div>
          </div>
        </footer>